<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{% block headtitle %}{% endblock %}</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.1/css/bulma.min.css">
	</head>
	<body>
		<section class="section" style="background-color:#e1e1e1;">
			<div class="container">
				<div class="columns">
					<div class="column is-2">
				  		<p class="title is-2">Todo</p>
					</div>
				  	<div class="column is-4">
						<h1 class="title is-4">{% block title %}{% endblock %}</h1>
						<p class="subtitle">{% block subtitle %}{% endblock %}</p>
					</div>
					<div class="column is-6 has-text-right">

						<div class="dropdown is-right is-hoverable">
							<div class="dropdown-trigger">
								<button class="button is-info" aria-haspopup="true" aria-controls="dropdown-menu6">
									<span>About this project</span>
									<span class="icon is-small">
										<i class="fa fa-angle-down" aria-hidden="true"></i>
									</span>
								</button>
							</div>
							<div class="dropdown-menu" id="dropdown-menu6" role="menu">
								<div class="dropdown-content">
									<div class="dropdown-item">
										<p>Written in the <strong>Django Framework</strong> and <strong>Bulma CSS Framework.</strong></p>
									</div>
  									<hr class="dropdown-divider">
									<div class="dropdown-item">
										<p>By Gareth Somers; it's my <strong>first project</strong> using those technologies.</strong></p>
									</div>
									<hr class="dropdown-divider">
									<div class="dropdown-item">
										<p>Its intention is to demonstrate my <strong>progression</strong> and <strong>adaptability</strong> as a developer.</strong></p>
									</div>
									<hr class="dropdown-divider">
									<div class="dropdown-item">
										<p>You can view the code on <a href="https://bitbucket.org/garethsomers/django-todo-list">bitbucket here</a></strong></p>
									</div>
								</div>
							</div>
						</div>

						{% if user.is_authenticated %}
			        		<a href="{% url 'todo:logout' %}" class="button is-warning"><span class="icon is-small"><i class="fa fa-sign-out"></i></span><span>Logout</span></a>    
					    {% endif %}

					</div>
				</div>
			</div>
		</section>
		<section class="section">
			<div class="container">

				{% if messages %}
				    {% for message in messages %}
				    	<div {% if message.tags %} class="notification is-info {{ message.tags }}"{% endif %}>{{ message }}</div>
				    {% endfor %}
				{% endif %}

				<div class="columns">
				  	<div class="column">
						<nav class="breadcrumb" aria-label="breadcrumbs">
							<ul>
								{% block breadcrumb %}{% endblock %}
							</ul>
						</nav>
					</div>
					<div class="column has-text-right">
						{% block buttons %}{% endblock %}
					</div>
				</div>

				{% block content %}{% endblock %}
				
			</div>
		</section>
	</body>
</html>