{% extends "../base.html" %}

{% block headtitle %}Logged out{% endblock %}
{% block title %}Logged out{% endblock %}
{% block subtitle %}You've been logged out.{% endblock %}

{% block breadcrumb %}
	<li><a href="{% url 'todo:index' %}"><span class="icon is-small"><i class="fa fa-home"></i></span><span>Todo</span></a></li>
	<li class="is-active"><a href="#" aria-current="page"><span class="icon is-small"><i class="fa fa-login"></i></span><span>Logged out</span></a></li>
{% endblock %}

{% block content %}
	<div class="content">
		<p>You've been logged out. <a href="{% url 'todo:login' %}">Log back in?</a></p>
	</div>

{% endblock %}