{% extends "../base.html" %}

{% block headtitle %}Login{% endblock %}
{% block title %}Login{% endblock %}
{% block subtitle %}You must login to use this app{% endblock %}

{% block breadcrumb %}
	<li><a href="{% url 'todo:index' %}"><span class="icon is-small"><i class="fa fa-home"></i></span><span>Todo</span></a></li>
	<li class="is-active"><a href="#" aria-current="page"><span class="icon is-small"><i class="fa fa-sign-in"></i></span><span>Login</span></a></li>
{% endblock %}

{% block content %}
	<div class="content">
		<div class="box">			
			<form method="post">
				{% csrf_token %}

				{{ form.non_field_errors }}

				{% for field in form %}
					{% include "todo/parts/form-field.html" %}
				{% endfor %}

				<div class="field is-horizontal">
					<div class="field-label">
					<!-- Left empty for spacing -->
					</div>
					<div class="field-body">
						<div class="field">
							<div class="control">
								<button class="button is-primary" type="submit">Login</button>
							</div>
						</div>
					</div>
				</div>

			</form>
		</div>
	</div>

{% endblock %}