{% extends "../base.html" %}


{% block headtitle %}Todo Lists{% endblock %}
{% block title %}Todo Lists{% endblock %}
{% block subtitle %}Welcome to my Todo List{% endblock %}


{% block breadcrumb %}
	<li class="is-active"><a href="{% url 'todo:index' %}" aria-current="page"><span class="icon is-small"><i class="fa fa-home"></i></span><span>Todo</span></a></li>
{% endblock %}

{% block buttons %}<a href="{% url 'todo:new-list' %}" class="button is-primary is-outlined"><span class="icon"><i class="fa fa-plus-square-o"></i></span><span class="is-hidden-mobile">New</span></a>{% endblock %}

{% block content %}
	<div class="content">

		{% if lists %}
		    <table class="table">
		    	<thead>
			    	<tr>
			    		<th>Name</th>
			    		<th>Task Count</th>
			    		<th class="is-hidden-mobile">Date</th>
			    		<th class="has-text-right">Actions</th>
			    	</tr>
			    </thead>
		    	<tbody>
				    {% for list in lists %}
				    	<tr>
					        <td><a href="/todo/list/{{ list.id }}/">{{ list.name }}</a></td>
					        <td>{{ list.task_set.count }}</td>
					        <td class="is-hidden-mobile">{{ list.date_published }}</td>
					        <td class="has-text-right"><a href="{% url 'todo:delete-list' list.id %}" class="button is-danger is-outlined"><span class="icon"><i class="fa fa-minus-square-o"></i></span><span class="is-hidden-mobile">Delete</span></a></td>
					    </tr>
				    {% endfor %}
				</tbody>
		    </table>
		{% else %}
		    <p>No lists are available.</p>
		{% endif %}
	</div>
{% endblock %}