{% extends "../base.html" %}


{% block headtitle %}Viewing List: {{list.name}}{% endblock %}
{% block title %}Viewing List: {{list.name}}{% endblock %}
{% block subtitle %}Here are the list of tasks{% endblock %}


{% block breadcrumb %}
	<li><a href="{% url 'todo:index' %}"><span class="icon is-small"><i class="fa fa-home"></i></span><span>Todo</span></a></li>
	<li class="is-active"><a href="#" aria-current="page"><span class="icon is-small"><i class="fa fa-list"></i></span><span>{{ list.name }}</span></a></li>
{% endblock %}

{% block buttons %}<a href="{% url 'todo:new-task' list.id %}" class="button is-primary is-outlined"><span class="icon"><i class="fa fa-plus-square-o"></i></span><span class="is-hidden-mobile">New</span></a>{% endblock %}

{% block content %}
	<div class="content">	
		{% if tasks %}
		    <table class="table">
		    	<thead>
			    	<tr>
			    		<th>Name</th>
			    		<th>Task Count</th>
			    		<th class="is-hidden-mobile">Date</th>
			    		<th class="has-text-right">Actions</th>
			    	</tr>
			    </thead>
		    	<tbody>
				    {% for task in tasks %}
				    	<tr>
					        <td><a href="{% url 'todo:task' task.id %}">{{ task.name }}</a></td>
					        <td>{{ task.description }}</td>
					        <td class="is-hidden-mobile">{{ task.date_published }}</td>
					        <td class="has-text-right"><a href="{% url 'todo:delete-task' task.id %}" class="button is-danger is-outlined"><span class="icon"><i class="fa fa-minus-square-o"></i></span><span class="is-hidden-mobile">Delete</span></a></td>
					    </tr>
				    {% endfor %}
				</tbody>
		    </table>
		{% else %}
		    <p>No tasks are available.</p>
		{% endif %}

		<p><a href="{% url 'todo:index' %}">Return to Home</a></p>
	</div>
{% endblock %}