{% extends "../base.html" %}

{% block headtitle %}New List{% endblock %}
{% block title %}New List{% endblock %}
{% block subtitle %}Once you create a list you can add tasks underneath it{% endblock %}

{% block breadcrumb %}
	<li><a href="{% url 'todo:index' %}"><span class="icon is-small"><i class="fa fa-home"></i></span><span>Todo</span></a></li>
	<li class="is-active"><a href="#" aria-current="page"><span class="icon is-small"><i class="fa fa-list"></i></span><span>{% block current_breadcrumb %}New Task{% endblock %}</span></a></li>
{% endblock %}

{% block content %}
	<div class="content">
		<div class="box">			
			<form method="post">
				{% csrf_token %}

				<!-- only used for new -->
				<input type="hidden" name"list_id" value="{{list.id}}" />
				{% block hidden_field %}{% endblock %}
				
				{% for field in form %}
					{% include "todo/parts/form-field.html" %}
				{% endfor %}

				<div class="field is-horizontal">
					<div class="field-label">
					<!-- Left empty for spacing -->
					</div>
					<div class="field-body">
						<div class="field">
							<div class="control">
								<button class="button is-primary" type="submit">Save</button>
							</div>
						</div>
					</div>
				</div>

			</form>
		</div>

		<p><a href="{% url 'todo:index' %}">Return to Home</a></p>
	</div>

{% endblock %}