<div class="field is-horizontal">
	<div class="field-label is-normal">
		{{ field.label_tag }}
	</div>
	<div class="field-body">
		<div class="field is-narrow">
			<div class="control">
				<div class="is-fullwidth">
					{{ field.errors }}
					{{ field }}
					{% if field.help_text %}
						<p class="help">{{ field.help_text|safe }}</p>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
</div>